<div class="tag {{modifier_class}}">
  <span class="tag-text">Tag long</span>
</div>

<div class="tag {{modifier_class}} tag-dismissible">
  <span class="tag-text">Tag</span>
  <button class="btn btn-close">
    <svg class="icon icon-xs cross">
      <use xlink:href="#cross"></use>
    </svg>
  </button>
</div>

<div class="tag {{modifier_class}} tag-dismissible tag-corner corner-indicator-container">
  <div class="corner-indicator corner-top-left corner-competitor-light"></div>
  <span class="tag-text">Tag</span>
  <button class="btn btn-close">
    <svg class="icon icon-xs cross">
      <use xlink:href="#cross"></use>
    </svg>
  </button>
</div>


<div class="tag {{modifier_class}} tag-corner corner-indicator-container corner-right">
  <div class="corner-indicator corner-bottom-right corner-competitor"></div>
  <span class="tag-text">Tag</span>
</div>

<div class="tag {{modifier_class}} tag-dismissible tag-corner corner-indicator-container corner-right">
  <div class="corner-indicator corner-top-right corner-competitor-dark"></div>
  <span class="tag-text">Tag</span>
  <button class="btn btn-close">
    <svg class="icon icon-xs cross">
      <use xlink:href="#cross"></use>
    </svg>
  </button>
</div>
