<h3>Generation Bar</h3>
<form class="generation-bar" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="Default genbar">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>
<form class="generation-bar busy" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="Busy genbar">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>
<form class="generation-bar disabled" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="Disabled genbar">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>
<form class="generation-bar error" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="Error genbar">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>

<h3>Generation Bar Small</h3>
<form class="generation-bar generation-bar-small" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="Small Generation Bar">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>
<form class="generation-bar generation-bar-small busy" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="Small Generation Bar Busy">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>
<form class="generation-bar generation-bar-small disabled" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="Disabled Small Generation Bar">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>
<form class="generation-bar generation-bar-small error" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="Error Small Generation Bar">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>

<h3>Generation Bar For Inside Pages</h3>
<form class="generation-bar generation-bar-inside" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="inside">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>
<form class="generation-bar generation-bar-inside generation-bar-small" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="inside">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>
<form class="generation-bar generation-bar-inside busy" style="margin-bottom: 30px;">
  <span class='addon'>
    <svg class="icon icon-loader" role="img">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{iconPath}}#loader"></use>
    </svg>
  </span>
  <div class="input-group">
    <div class="input-group-addon">
      woorank.com/
    </div>
    <input type="url" name="url" value="" placeholder="inside">
    <div class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        Create Review
      </button>
    </div>
  </div>
</form>
