<svg class="icon icon-lg {{{iconSize}}} {{modifier_class}} fill-{{{iconColor}}}" title="#{{modifier_class}}">
  <use xlink:href="{{{iconPath}}}#{{modifier_class}}"></use>
</svg>
<div class="caption">
  {{modifier_class}}
</div>
